body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 99vh;
  background-color: #000;
  font-size: 8px;
  color: #373737;
  overflow: hidden;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #555766;
}

a:hover {
  color: #a088d0;
}

pre {
  display: inline-block;
  background-color: #000;
  margin-bottom: -8px;
}

#firstPre {
  margin-top: -8px;
}

.links {
  font-size: 10px;
  font-family: monospace;
  justify-content: space-between;
  width: 480px;
  display: flex;
}

@media screen and (max-width: 1080px) {
  body {
    font-size: 1vw;
  }

  pre {
    margin-bottom: -1vw;
  }

  #firstPre {
    margin-top: -1vw;
  }

  .links {
    font-size: 1.9vw;
    width: 80vw;
  }
}